/*
 *	book (A BOOK OR GROUP OF ARTICLES)
 *	---------------------------------------------
 */

.book {
  margin-bottom: 3em;
}

.book + .book {
  border-top: 3px double $color-border;
  padding-top: $margin-m;
}

.book__info {
  margin: 0 auto $margin-l;
  width: 12.5em;
  text-align: center;
}

.book__title {
  margin-bottom: $margin-s;
  font: 1.166em/1.2 $font-secondary;
}

.book__title-small,
.highlight__meta,
.spoilers-note {
  color: $color-secondary;
  font: .75em/1.2 $font-body;
  @include all-caps();
}

.book__title-small {
  display: block;
  margin-bottom: 1em;
}

.book__image {
  display: inline-block;
  margin: 0 auto $margin-xs;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}

a.book__image {
  opacity: .75;
  transition: opacity 400ms;

  svg {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }
}

@media (hover) {
  a.book__image {
    svg {
      opacity: 1;
      transition: opacity 400ms;
    }

    &:hover,
    &:focus {
      svg {
        opacity: 0;
      }
    }
  }
}

.highlights-wrap {
  padding-top: 1.25em;
  border-top: 1px solid $color-border;
  max-width: 40em;
}

.spoilers-note {
  margin-bottom: $margin-m;
  font-size: 1em;
}

.spoilers-note__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: .25em;
}

.highlight {
  margin-bottom: $margin-m;
  scroll-margin-top: $margin-m;

  &:last-child {
    margin-bottom: 0;
  }
}

.highlight__attribution {
  display: block;
  margin: .5em 0;
  @include all-caps();
  font-size: .875em;
  font-style: normal;
}

.highlight__location {
  vertical-align: middle;
}

.highlight__link {
  @include all-caps();
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 1em;
  padding: .5em .5em .5em 36px;
  font: 1em/20px $font-body;
  opacity: .5;
  transition: opacity 200ms;
  
  svg {
    position: absolute;
    left: 0;
  }

  span {
    transition: opacity 200ms;
    opacity: 0;
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 1;

    span {
      opacity: .75;
    }
  }
}

.highlight--active {
  .highlight__text span {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    padding: .125em .25em;
    background: #ebebeb;
    color: #2b2b2b;
    line-height: 1.6;
  }
}

.btn--clear {
  position: relative;
  z-index: 2;
  border: 1px solid transparent;
  border-radius: 0;
  padding: .5em;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 2.75rem;
    height: 2.75rem;
  }

  &:hover {
    border-color: #fff;
  }

  &:active {
    background-color: rgba(255,255,255,.5);
  }
}

@media (min-width: $bp-s) {
  .page-wrap {
    text-align: center;
  }

  .book {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }

  .book + .book {
    padding-top: 0;
    border-top: 0;
  }

  .book__title-small {
    font-size: .66em;
  }

  .book__info {
    float: left;
    top: 2em;
    position: -webkit-sticky;
    position: sticky;
    margin-right: 3em;
    width: 200px;
  }

  .highlights-wrap {
    padding-top: 0;
    border-top: 0;
    width: auto;
    overflow: hidden;
    text-align: left;
  }
}

@media (min-width: $bp-l) {
  .book {
    margin-bottom: 5em;
  }

  .highlight {
    margin-bottom: $margin-l;
  }
}

@media (min-width: $bp-xl) {
  .book__info {
    margin-right: 5em;
  }
}

@media (min-width: $bp-xxl) {
  .book__info {
    width: 280px;
  }
}