/*
 *	HEADER AND NAV
 *	---------------------------------------------
 */

.site-header,
.site-nav {
  @include all-caps();
  color: #999;
  line-height: 1;

  a:link, a:visited {
    color: inherit;
  }

  a:hover {
    color: #fff;
  }
}

.site-header {
  margin-bottom: 2.25em;
  padding-bottom: 1.25em;
  border-bottom: 3px double $color-border;
  text-align: center;
}

.site-nav {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 2em;
  background: #000;
  text-align: center;
  font-size: .825em;

  a {
    display: inline-block;
    margin: $margin-xs $margin-m $margin-xs 0;
  }
}

@media (min-width: $bp-l) {
  .site-header {
    position: fixed;
    z-index: 2;
    top: 1.75em;
    left: 1.5em;
    transform: rotate(270deg) translate(-100%, 0);
    transform-origin: left top;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;
    background: #000;
    font-size: 1.25em;
  }

  .site-nav {
    display: inline-block;
    bottom: 1em;
    right: 2em;
    left: auto;
    transform: rotate(270deg) translate(100%, -2em);
    transform-origin: right top;
    width: auto;
    padding: 10px 0 0;
    border-top: 1px solid $color-border;

    a {
      margin: 0;
    }

    a + a {
      margin-left: $margin-m;
    }
  }
}