/*
 *	SOURCE (A BOOK OR GROUP OF ARTICLES)
 *	---------------------------------------------
 */

.source {
  margin-bottom: 3em;
}

.source + .source {
  border-top: 3px double $color-border;
  padding-top: $margin-m;
}

.source__info {
  margin: 0 auto $margin-l;
  width: 12.5em;
  text-align: center;
}

.source__title {
  margin-bottom: $margin-s;
  font: 1.166em/1.2 $font-secondary;
}

.source__title-small,
.highlight__location  {
  color: $color-secondary;
  font: .75em/1.2 $font-body;
  @include all-caps();
}

.source__title-small {
  display: block;
  margin-bottom: 1em;
}

.source__image {
  display: inline-block;
  margin: 0 auto $margin-xs;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;

  svg {
    transition: opacity 400ms;
  }
}

a.source__image {
  svg {
    opacity: 0;
  }
}

@media (hover) {
  a.source__image {
    opacity: .75;
    transition: opacity 400ms;

    svg {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
      
      svg {
        opacity: 0;
      }
    }
  }
}

.highlights {
  padding-top: 1.25em;
  border-top: 1px solid $color-border;
  max-width: 40em;
}

.highlight {
  margin-bottom: $margin-m;

  &:last-child {
    margin-bottom: 0;
  }
}

.highlight__location,
.highlight__link {
  color: #fff;
  opacity: .25;
  transition: opacity 200ms;
}

.highlight__link {
  opacity: .5;
}

.highlight--active,
.highlight:hover {
  .highlight__location {
    opacity: .5;
  }

  .highlight__link:hover {
    opacity: 1;
  }
}

.highlight--active {
  .highlight__text span {
    vertical-align: middle;
    padding: .125em .25em;
    background: #fff;
    color: #333;
    line-height: 1.6;
  }
}

.btn--clear {
  margin-left: .25em;
  border: 1px solid transparent;

  &:hover {
    border-color: #fff;
  }

  &:active {
    background-color: rgba(255,255,255,.5);
  }
}

@media (min-width: $bp-s) {
  .page-wrap {
    text-align: center;
  }

  .source {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }

  .source + .source {
    padding-top: 0;
    border-top: 0;
  }

  .source__info {
    float: left;
    top: 2em;
    position: -webkit-sticky;
    position: sticky;
    margin-right: 3em;
    width: 200px;
  }

  .highlights {
    padding-top: 0;
    border-top: 0;
    width: auto;
    overflow: hidden;
    text-align: left;
  }

  .source__title-small,
  .highlight__location  {
    font-size: .66em;
  }
}

@media (min-width: $bp-l) {
  .source {
    margin-bottom: 5em;
  }

  .highlight {
    margin-bottom: $margin-l;
  }
}

@media (min-width: $bp-xl) {
  .source__info {
    margin-right: 5em;
  }
}

@media (min-width: $bp-xxl) {
  .source__info {
    width: 280px;
  }
}