# ----------------------------------------------------------------------
# | Eleventy                                                           |
# ----------------------------------------------------------------------

_site
node_modules
.env

# ----------------------------------------------------------------------
# | Netlify                                                            |
# ----------------------------------------------------------------------

# Local Netlify folder
.netlify

# ----------------------------------------------------------------------
# | Operating system files                                             |
# ----------------------------------------------------------------------

*.bak
*:Zone.Identifier
*.DS_Store