# ----------------------------------------------------------------------
# | Eleventy                                                           |
# ----------------------------------------------------------------------

_site
node_modules
package-lock.json
.env

# ----------------------------------------------------------------------
# | WSL2 etc                                                           |
# ----------------------------------------------------------------------

*.bak
*:Zone.Identifier
# Local Netlify folder
.netlify