    </main>
    <nav class="site-nav">
      <a href="{{ '/' | url }}">Browse by book</a>
      <a href="{{ '/all/' | url }}">See all highlights</a>
    </nav>
    <footer class="site-footer">
      <small>Made by <a href="{{ site.authorUrl }}">{{ site.author }}</a>. Highlights and covers are copyright to their respective authors. <a href="https://github.com/melanierichards/highlights">Peek at the code</a> for this project</small>
    </footer>

    <script src="{{ '/assets/js/deps.js' | url }}"></script>
    <script src="{{ '/assets/js/scripts.js' | url }}"></script>
  </body>
</html>