    </main>
    <nav class="site-nav">
      <a href="{{ '/' | url }}">Browse by book</a>
      <a href="{{ '/all/' | url }}">See all highlights</a>
    </nav>
    <footer class="site-footer">
      <p>
        <small>Made by <a href="{{ site.authorUrl }}">{{ site.author }}</a> (<a href="https://github.com/melanierichards/highlights">explore the code</a>). Highlights and covers are copyright to their respective authors.</small>
      </p>
      <p>
        <small>Disclosure: I’m an affiliate of Bookshop.org. Any purchases you make using my link will earn me (and local bookstores!) a small commission.</small>
      </p>
    </footer>

    <script src="{{ '/assets/js/deps.js' | url }}"></script>
    <script src="{{ '/assets/js/scripts.js' | url }}"></script>
  </body>
</html>