<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title | escape }} | {% endif %} {{ site.title }}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="robots" content="index, follow" />
  <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Karla|Sorts+Mill+Goudy" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>