<article class="source">
  {% assign current_source = post.source %}
  <div class="source__info">
    {% if individualPost %}
      <h1 class="source__title"><span class="source__title-small">Highlights from</span> {{ post.title }} by {{ post.author }}</h1>
    {% else %}
      <h2 class="source__title">{{ post.title }} by {{ post.author }}</h2>
    {% endif %}
    <div class="source__image">
      {% include svgs/abstract-handmaids-tale.svg %}
    </div>
    {% if post.kindle %}
      <p class="special-edition">Kindle edition</p>
    {% endif %}
  </div>

  <ul class="highlights">
    {% for highlight in site.data[current_source] %}
      <li class="highlight" id="{{ highlight.text | downcase | slice: 0, 15 | url_encode }}">
        <p class="highlight__text">{{ highlight.text }}</p>
        {% if individualPost %}
          <a href="#{{ highlight.text | downcase | slice: 0, 15 | url_encode }}" class="permalink highlight__link">Permalink</a>
        {% endif %}
        <span class="highlight__location">{{ highlight.page }}</span>
      </li>
    {% endfor %}
  </ul>
</article>