<article class="book">
  {% assign current_book = post.book %}
  {% assign current_book_url = post.url %}
  <div class="book__info">
    {% if individualPost %}
      <h1 class="book__title"><span class="book__title-small">Highlights from</span> {{ post.title }} by {{ post.author }}</h1>
    {% else %}
      <h2 class="book__title">{{ post.title }} by {{ post.author }}</h2>
    {% endif %}
    <div class="book__image">
      <img src="{{ site.baseurl }}/assets/images/covers/{{ current_book }}.jpg" alt="Cover of {{ post.title }}" />
    </div>
  </div>

  <ul class="highlights">
    {% for highlight in site.data[current_book] %}
      <li class="highlight" id="{{ highlight.text | downcase | slice: 0, 15 | url_encode }}">
        <p class="highlight__text">{{ highlight.text }}</p>
        {% if highlight.attribution %}<cite class="highlight__attribution"> — {{ highlight.attribution}}</cite>{% endif %}
        <div class="highlight__meta">
          <span class="highlight__location">{{ highlight.page }}</span>
          <a href="{{ current_book_url }}#{{ highlight.text | downcase | slice: 0, 15 | url_encode }}" class="highlight__link">
            <svg aria-hidden="true" viewBox="0 0 30 20" width="30" height="20">
              <use xlink:href="#link"></use>
            </svg>
            <span>Link</span>
            <span class="sr-only">to {{ highlight.page }} highlight</span>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</article>