<article class="source">
  {% assign current_source = post.source %}
  <div class="source__info">
    {% if individualPost %}
      <h1 class="source__title"><span class="source__title-small">Highlights from</span> {{ post.title }} by {{ post.author }}</h1>
      <div class="source__image">
        <img src="/assets/images/covers/{{ current_source }}.jpg">
      </div>
    {% else %}
      <h2 class="source__title">{{ post.title }} by {{ post.author }}</h2>
      <a href="{{ post.url}}" class="source__image" data-bgSrc="/assets/images/covers/{{ current_source }}.jpg">
        {% include svgs/{{ current_source }}.svg %}
      </a>
    {% endif %}
    {% unless individualPost %}
      <a href="{{ post.url}}" class="permalink highlight__link">
        <svg viewBox="0 0 30 20" width="30" height="20">
          <use xlink:href="#link"></use>
        </svg>
        <span>Permalink</span>
      </a>
    {% endunless %}
  </div>

  <ul class="highlights">
    {% for highlight in site.data[current_source] %}
      <li class="highlight" id="{{ highlight.text | downcase | slice: 0, 15 | url_encode }}">
        <p class="highlight__text">{{ highlight.text }}</p>
        {% if individualPost %}
          <a href="{{ post.url}}#{{ highlight.text | downcase | slice: 0, 15 | url_encode }}" class="permalink highlight__link" title="Highlight permalink">
            <svg viewBox="0 0 30 20" width="30" height="20">
              <use xlink:href="#link"></use>
            </svg>
          </a>
        {% endif %}
        <span class="highlight__location">{{ highlight.page }}</span>
      </li>
    {% endfor %}
  </ul>
</article>