{% include head.html %}
{% include header.html %}

{% for post in paginator.posts %}
  {% assign individualPost = false %}
  {% include post-contents.html %}
{% endfor %}

<!-- PAGINATION -->
<nav class="pagination" aria-label="pagination">
  {% if paginator.next_page %}
    <a class="pagination__older" href="{{ paginator.next_page_path }}" title="Older posts"></a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination__newer" href="{{ paginator.previous_page_path }}" title="Newer posts"></a>
  {% endif %}
</nav>

{% include footer.html %}