{% include head.html %}
{% include header.html %}

<h1 class="sr-only">Explore all books</h1>

<ul class="covers">
  {% for post in site.posts %}
    <li class="cover">
      {% assign current_book = post.book %}
      <a href="{{ site.baseurl}}{{ post.url }}" class="book__image" data-bgSrc="{{ site.baseurl }}/assets/images/covers/{{ current_book }}.jpg" title="{{ post.title }}">
        {% include svgs/{{ current_book }}.svg %}
      </a>
    </li>
  {% endfor %}
</ul>

{% include footer.html %}