{% include "head.njk" %}
{% include "header.njk" %}

{% for post in posts %}
  {% set individualPost = false %}
  {% include "post-contents.njk" %}
{% endfor %}

{% include pagination.njk %}
{% include "footer.njk" %}