{% include "head.njk" %}
{% include "header.njk" %}

<h1 class="u-vis-hidden">Explore all books</h1>

<ul class="covers">
  {% for post in posts %}
    <li class="cover">
      {% set current_book = post.data.book %}
      {% set current_svg = '/assets/svgs/' + current_book + '.svg' %}
      {% set current_cover = '/assets/images/covers/' + current_book + '.jpg' %}
      <a href="{{ post.url | url }}" class="book__image" data-bgSrc="{{ current_cover | url }}" title="{{ post.data.title }}">
        {{ current_svg | svgContents | safe }}
      </a>
    </li>
  {% endfor %}
</ul>

{% include "pagination.njk" %}
{% include "footer.njk" %}